.section.featured-sponsors {
    display: none !important;
}

.navbar-content {
    content: url(https://images.freeimages.com/image/grids/4d8/x-twitter-light-blue-logo-5694248.png);
}

.navbar {
    background-color: transparent !important;
    backdrop-filter: none !important;
}

bt-master-event-ui-register-button.main-register-button.ng-star-inserted {
    display: none;
}

button.mat-focus-indicator.mat-menu-trigger.language-selector-button.mat-button.mat-button-base {
    display: none;
}
